body {
    background-color: gainsboro;
}
h1 {
    background-color: black;
    color: white;
    text-align: center;
    border: 6px dotted red;
    font-family: fantasy
}
h2 {
    background-color: black;
    color: white;
    text-align: center;
    border: 6px dotted red;
    font-family: fantasy;
}
p {
    background-color: black;
    color: azure;
    border: 6px dotted red;
    font-family: sans-serif
}
